# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Data and Results
data/*
!data/processed/
!data/processed/*.xlsx
outputs/
*.xlsx
!data/processed/*.xlsx

# Ignore large dataset folders if they are inside the repo
ADReSS-IS2020-train/
