# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Data and Results
data/*
!data/processed/
!data/processed/*.xlsx
outputs/
*.xlsx
!data/processed/*.xlsx

# Generated audio data
data/segmented_audio/
data/continuous_patient_audio/

# Ignore large dataset folders if they are inside the repo
ADReSS-IS2020-train/

# External dependencies
pyAudioAnalysis/
